{% include 'header.html' %}
<script>
$( function() {
    $("#number").selectmenu();
});
</script>
<div class="card"></div>
    <div class="card-header">
        Create Users Form
    </div>
        <div class="card-body">
            <form action="/add-user" method="POST">
                <h5 class="card-title">Full Name</h5>
                <p class="card-text"><input type="text" name="full_name" class="form-control" placeholder="Full Name" aria-label="Full Name" aria-describedby="basic-addon1"></p>
                <h5 class="card-title">Phone Number</h5>
                <p class="card-text"><input type="text" name="phone_number" class="form-control" placeholder="Phone Number" aria-label="Phone Nuber" aria-describedby="basic-addon1"></p>
                <h5 class="card-title">Address</h5>
                <p class="card-text"><input type="text" name="address_user" class="form-control" placeholder="Address" aria-label="Address" aria-describedby="basic-addon1"></p>
                <h5 class="card-title">User Name</h5>
                <p class="card-text"><input type="text" name="user_name" class="form-control" placeholder="User Name" aria-label="Username" aria-describedby="basic-addon1"></p>
                <h5 class="card-title">Password</h5>
                <p class="card-text"><input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1"></p>
                <h5 class="card-title">User Activation</h5> 
                <select name="activate_deactive" id="activate_deactive">
                    <option>Active</option>
                    <option>Deactive</option>
                </select>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Full Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Active Status</th>
      </tr>
    </thead>

    <tbody>
     {% for user in list_users%}
        <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.full_name}}</td>
            <td>{{user.address}}</td>
            <td>{{user.phone_number}}</td>
            {% if user.is_active %}
              <td><div class="btn btn-primary">Active</div></td>
            {% else %}
              <td><div class="btn btn-danger">Deactive</div></td>
            {% endif %}
        </tr>
      {% endfor %}
    </tbody>
   
  </table>
