{% include 'header.html' %}


<script>
    $(document).ready(function(){
        var strContent = '<p id="input-select-value"><h5 class="card-title">Event Name<br/>'+
                            '<select name="event_value" id="event_value">'+
                                '{% for event in events%} <option value={{event.id}}>{{event.event_name}}</option>{% endfor %}</select></h5>'+
                                '<h5 class="card-title">Users<br/><select name="user_value" id="user_value"></h5>{% for user in users%}<option value={{user.id}}>{{user.full_name}}</option> {% endfor %}'+
                                '</select>'+
                                '<br/><h5 class="card-title">Nik Users<br/><input type="text" name="nik_input" id="nik_input"/></p>';
       
        $("#create-redeem").click(function(){
            let dialog = xdialog.create({title: 'Redeem to user', body: strContent, 
                onok:function(){
                    var event_id = $('#event_value').find(":selected").val();
                    var user_id = $('#user_value').find(":selected").val();
                    var nik_user = $('#nik_input').val();
                    
                    $.post( "http://localhost:5000/add-redem", { user_id: user_id, event_id: event_id, nik_user }).done(function( data, status ) {
                        alert( "Data Loaded: " + data);
                    });

                },
                oncancel:function(){
                }
        });
            dialog.show();
        });
    });
</script>

</div>
    <div class="card-body">
        <form action="/add-event" method="POST">
            <p class="card-text"><input type="text" name="event_date" class="form-control" placeholder="Enter KYC" aria-label="Event Start End" aria-describedby="basic-addon1"></p>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<button type="button" class="btn btn-success" id="create-redeem">Create Redeem</button>
<br/><br/>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Events Date</th>
        <th scope="col">Events Name</th>
        <th scope="col">Maximum Event Redeem</th>
        <th scope="col">Events Status</th>
      </tr>
    </thead>

    <tbody>
     {% for event in events%}
        <tr>
            <th scope="row">{{event.id}}</th>
            <td>{{event.event_date}}</td>
            <td>{{event.event_name}}</td>
            <td>{{event.max_redem}}</td>
            {% if event.status_event %}
              <td><div class="btn btn-primary">Active</div></td>
            {% else %}
              <td><div class="btn btn-danger">Deactive</div></td>
            {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>



