{% include 'header.html' %}


<script>
    $(document).ready(function(){
        var strContent = '<p id="input-select-value"><h5 class="card-title">Event Name<br/>'+
                            '<select name="event_value" id="event_value">'+
                                '{% for event in events%} <option value={{event.id}}>{{event.event_name}}</option>{% endfor %}</select></h5>'+
                                '<h5 class="card-title">Users<br/><select name="user_value" id="user_value"></h5>{% for user in users%}<option value={{user.id}}>{{user.full_name}}</option> {% endfor %}'+
                                '</select>'+
                                '<br/><h5 class="card-title">Nik Users<br/><input type="text" name="nik_input" id="nik_input"/></p>';
       
        $("#create-redeem").click(function(){
            let dialog = xdialog.create({title: 'Redeem to user', body: strContent, 
                onok:function(){
                    var event_id = $('#event_value').find(":selected").val();
                    var user_id = $('#user_value').find(":selected").val();
                    var nik_user = $('#nik_input').val();
                    
                    $.post( "http://localhost:5000/add-redem", { user_id: user_id, event_id: event_id, nik_user }).done(function( data, status ) {
                       alert(data);
                       location.reload();
                    });
                },
                oncancel:function(){
                }
        });
            dialog.show();
        });
    });
</script>

</div>
    <div class="card-body">
        <form action="/add-event" method="POST">
            <p class="card-text"><input type="text" name="event_date" class="form-control" placeholder="Enter KYC" aria-label="Event Start End" aria-describedby="basic-addon1"></p>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<button type="button" class="btn btn-success" id="create-redeem">Create Redeem</button>
<br/><br/>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Events Name</th>
        <th scope="col">Events Date</th>
        <th scope="col">Full Username</th>
        <th scope="col">Max Redeem Count Events</th>
        <th scope="col">Redeem Count By users</th>
      </tr>
    </thead>

    <tbody>
     {% for row in list_row%}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>



